@use "../abstracts" as *;
@use "../util/" as u;

.works {
  padding-top: 10vh;
  .outer-wrapper {
    background-size: contain;
    position: relative;
    background-image: url("/assets/works_bg.png");
    background-repeat: repeat;
  }
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    color: $primary;
  }

  p {
    line-height: 3rem;

    @media (max-width: 375px) {
      line-height: normal;
    }

    @include u.breakpoint(xlarge) {
      line-height: 4.5rem;
    }
  }

  .works-text {
    color: $primary;
    font-size: $text-s;

    @include u.breakpoint(medium) {
      max-width: 75%;
    }
  }

  .showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: $primary;
    margin: 3rem 0;

    @media (max-width: 370px) {
      margin: 4rem 0;
      display: block;
    }
    @include u.breakpoint(medium) {
      gap: 10rem;
    }

    &:nth-child(even) > .showcase-img {
      order: 1;
    }

    svg {
      display: block;
      width: clamp(5rem, 30vw, 20rem);
    }

    .showcase-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 5 auto;

      .showcase-title {
        margin-bottom: 1rem;
        font-size: $text-m;
      }

      .showcase-desc {
        font-size: $text-xs;
      }

      .showcase-links {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
      }
    }
  }
}
