$font-oxanium: "Oxanium", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-sen: "Sen", sans-serif;
$font-raleway: "Raleway", sans-serif;

$text-xxl: clamp(10rem, 2vw + 1rem, 15rem);
$text-xl: clamp(2rem, 10vw + 1rem, 10rem);
$text-l: clamp(1rem, 1vw + 1.5rem, 4rem);
$text-m: clamp(1.25rem, 1vw + 0.5rem, 2rem);
$text-s: clamp(1.15rem, 1vw + 0.75rem, 1.75rem);
$text-xs: clamp(1rem, 1vw + 0.75rem, 1.5rem);
